asgiref==3.8.1
awsebcli==3.21.0
beautifulsoup4==4.12.3
blessed==1.20.0
botocore==1.35.33
cement==2.10.14
certifi==2024.8.30
charset-normalizer==3.3.2
colorama==0.4.6
Django==4.2.16
django-bootstrap-v5==1.0.11
idna==3.10
jmespath==1.0.1
pathspec==0.10.1
psycopg2==2.9.9
python-dateutil==2.9.0.post0
PyYAML==6.0.2
requests==2.32.3
semantic-version==2.10.0
six==1.16.0
soupsieve==2.6
sqlparse==0.5.1
termcolor==2.4.0
typing_extensions==4.12.2
urllib3==1.26.20
wcwidth==0.2.13
