{% extends 'budgets/base.html' %}

{% block content %}

  <p>All transactions:</p>
  <table>
    <thead>
        <tr>
            <th>ID</th>
            <th>Store</th>
            <th>Amount</th>
            <th>Date</th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
        {% for transaction in transactions %}
        <tr>
            <td>{{ transaction.id }}</td>
            <td>{{ transaction.store }}</td>
            <td>{{ transaction.amount }}</td>
            <td>{{ transaction.date }}</td>
            <td>
                <a href="{% url 'budgets:delete_one' transaction.id %}">Delete</a>
                <a href="{% url 'budgets:edit_transaction' transaction.id %}">Edit</a>
            </td>
        </tr>
        {% endfor %}
    </tbody>
  </table>
  <a href="{% url 'budgets:add_one' %}">Add a new transaction</a>
  <h3>Total: ${{ total|floatformat:2 }}</h3>
{% endblock content %}